*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

.fondo{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: hsl(193, 100%, 96%);
}

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}


.header_first{
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 80px;
}

.logo-header{
    height: 100%;
}

.button-header-white{
    position: absolute;
    right: 0;
    background-color: #fff;
    border-radius: 50px;
    border-style: none;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    box-shadow: 0px 0px 20px hsl(208, 11%, 55%);
    font-size: 12px;
}

.header_intro{
    position: relative;
    width: 100%;
    text-align: center;
}

.header_title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0 15px;
    font-size: 22px;
    width: 100%;
}

.header_text{
    margin-bottom: 30px;
}

.header_button{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    padding: 10px 60px;
    margin-bottom: 40px;
}

.header_mockup{
    padding: 0 30px;
    width: 100%;
    max-width: 600px;
}

.main{
    width: 100%;
}

.card{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 50px 40px;
    box-shadow: 0 0 10px hsl(208, 11%, 55%, .3);
    margin-bottom: 40px;
    text-align: center;
}

.card__image{
    width: 100%;
    margin-bottom: 20px;
}

.main_container h2{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.main_container p{
    font-size: 14px;
    color: hsl(208, 11%, 55%);
}

.footer{
    position: relative;
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    width: 100%;
    padding: 150px 25px;
}

.footer__logo{
    margin-bottom: 15px;
}

.contact{
    width: 100%;
    margin-bottom: 100px;
}

.contact__location{
    position: relative;
    padding-left: 30px;
}

.contact__location-icon{
    position: absolute;
    left: 0;
}

.nav{
    padding: 0;
    list-style-type: none;
    margin-bottom: 80px;
}

.nav li{
    margin-bottom: 15px;
}

.RRSS{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.RRSS li{
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 5px;
    padding: 4px;
}

.copyright{
    text-align: center;
    font-size: 14px;
}